<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to Text Analyzer.</h1>
<p>Enter your text below.</p>
<form action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; height: 76px; width: 356px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="removespace">Extra Space Remove<br>
<!--    <input type="checkbox" name="charcount">Char Count<br>-->
    <button>Analyze Text</button>
</form>
</body>
</html>
